#$ TOOL ispLEVER Classic 1.4.00.04.27.10
#$ DATE Thu Sep 19 11:14:26 2013
#$ MODULE adress_decoder
#$ PINS 8 a11:1 a10:2 a9:3 a8:4 ram_cs:19 adc_cs:18 oled_cs:17 oled_dc:16
.type fr
.i 3
.o 4
.ilb a11 a10 a9
.ob ram_cs adc_cs oled_cs oled_dc
.p 9
1-- 1~~~
01- ~1~~
001 ~~1~
--- ~~~0
1-- ~00~
0-- 0~~~
-1- ~~0~
-0- ~0~~
--0 ~~0~
.end
